<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="head">

    <!-- Bootstrap stylesheets and script -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/css/techjobs.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>

    <title th:text="'TechJobs' + ${title == null ? '' : ' :: ' + title}">TechJobs</title>
</head>

<body>

    <div th:fragment="page-header" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a th:href="@{/}" class="navbar-brand">TechJobs</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a th:href="@{/search}">Search</a></li>
                    <li><a th:href="@{/list}">List</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div th:fragment="job-list">
    <th:block th:each="job : ${jobs}">
        <table class="job-listing">
            <tr class="listing-row">
                <th th:text="${#strings.toUpperCase('id')}">id</th>
                <td th:text="${job.getId()}"><td>
            </tr>
            <tr class="listing-row">
                <th th:text="${#strings.capitalizeWords('name')}">name</th>
                <td th:text="${job.getName()}">Name Value</td>
            </tr>
            <tr class="listing-row">
                <th th:text="${#strings.capitalizeWords('employer')}">employer</th>
                <td>
                    <a th:text="${job.getEmployer()}" th:href="@{/list/jobs(column=${'employer'},value=${job.getEmployer()})}">Employer Value</a>
                </td>
            </tr>
            <tr class="listing-row">
                <th th:text="${#strings.capitalizeWords('location')}">location</th>
                <td>
                    <a th:text="${job.getLocation()}" th:href="@{/list/jobs(column=${'location'},value=${job.getLocation()})}">Location Value</a>
                </td>
            </tr>
            <tr class="listing-row">
                <th th:text="${#strings.capitalizeWords('position type')}">position type</th>
                <td>
                    <a th:text="${job.getPositionType()}" th:href="@{/list/jobs(column=${'positionType'},value=${job.getPositionType()})}">Position Value</a>
                </td>
            </tr>
            <tr class="listing-row">
                <th th:text="${#strings.capitalizeWords('skill')}">skill</th>
                <td >
                    <a th:text="${job.getCoreCompetency()}" th:href="@{/list/jobs(column=${'coreCompetency'},value=${job.getCoreCompetency()})}">Core Competency Value</a>
                </td>
            </tr>
        </table>
    </th:block>
    </div>

</body>
</html>